@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

</br>
</br>
<h1> Welcome to Soaring High!</h1>
</br>
</br>
<p>Soaring High is for those who have a fondness for or are curious about hot air ballooning.</p>
</br>
<p>You'll find information regarding the:</p>
</br>
<p style="margin-left: 40px;">*History of hot air ballooning</p>
<p style="margin-left: 40px;">*Michigan Hot Air Balloon Events</p>
<p style="margin-left: 40px;">*Michigan Hot Air Ballon Ride vendors</p>
<p style="margin-left: 40px;">*Hot Air Balloon Launch Criteria</p>

<img style="margin-left: 575px;" src="/img/Balloonists Prayer.jpeg" alt="Balloonists' Prayer'" width=650" height="450">