@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    <br />
    <font size="4">
        Loretta L. Hammond, Administrator<br />
        @*soaringhighadmin@yahoo.com<br />*@
        @*<abbr title="Phone">P:</abbr>
            425.555.0100*@
    </font>
</address>

<address>
    <font size="4">
        <strong>Support:</strong>   <a href="mailto:supportsoaringhighadmin@yahoo.com">supportsoaringhighadmin@yahoo.com</a><br />
    </font>
</address>
<br />
<br />
<img style="margin-left: 250px;" src="/img/hotairballoon_sunflowers.jpg" alt="Sunflower Field" width="650" height="550">