@{
    ViewBag.Title = "Events";
}

</br>
</br>
</br>
</br>
</br>


<h1> Michigan Hot Air Balloon Events</h1>
@*<h2>Events</h2>*@
</br>
@*<p>Content Pending.</p>*@



<h3><span style='font-weight: bold;'>Bavarian Inn’s Balloons Over Bavaria 2015</span></h3>
</br>
<div style="margin-left: 40px;">
    <p>
        Frankenmuth, Michigan
    </p>
    <p>
        Frankenmuth River Place Shops
    </p>
    <p>
        May 23-26, 2014
    </p>
    </br>
    <p>2015 Date: May 22 to May 25, 2015</p>
    </br>

    </br>

    <div style="margin-left: 60px;">
        Click <a href="http://frankenmuthriverplace.com/balloons">here</a> to go to http://frankenmuthriverplace.com/balloons.
    </div>
    <div" style="margin-left: 60px;">
        Click <a href="https://www.facebook.com/pages/Balloons-Over-Bavaria/177256272311930">here</a> to go to https://www.facebook.com/pages/Balloons-Over-Bavaria/177256272311930
</div>

    </br>
    </br>

<h3><span style='font-weight: bold;'>Hot Air Balloon Shoot-Out</span></h3>
</br>
<div style="margin-left: 40px;">
    <p>
        Carson City, MI
    </p>
    <p>
        Crystal High School - Carson City
    </p>
    <p>
        June 5 - 8, 2014
    </p>
    </br>
    <p>
        2015 event info: To Be Determined
    </p>
    </br>

    </br>
    <div style="margin-left: 60px;">
        Click <a href="http://www.carsoncityfrontierdays.com/1/344/hot_air_balloon_shoot_out.asp">here</a> to go to http://www.carsoncityfrontierdays.com/1/344/hot_air_balloon_shoot_out.asp
    </div>
    <div style="margin-left: 60px;">
        Click <a href="https://www.facebook.com/CarsonCityFrontierDays">here</a> to go to https://www.facebook.com/CarsonCityFrontierDays
    </div>
</div>
    </br>
    </br>

<h3><span style='font-weight: bold;'>Michigan Challenge Balloon Fest</span></h3>
</br>
<div style="margin-left: 40px;">
    <p>
        Howell, MI
    </p>
    <p>
        Howell High School Complex, 1200 W. Grand River, Howell 48843
    </p>
    <p>
        June 27 - 29, 2014
    </p>
    </br>
    <p>
        2015 event info: To Be Determined
    </p>
    </br>

    </br>
    <div style="margin-left: 60px;">
        Click <a href="http://www.michiganchallenge.com/">here</a> to go to http://www.michiganchallenge.com
    </div>
    <div style="margin-left: 60px;">
        Click <a href="https://www.facebook.com/balloonfestmi">here</a> to go to https://www.facebook.com/balloonfestmi
    </div>
</div>

    </br>
    </br>

<h3><span style='font-weight: bold;'>Battle Creek Field of Flight Air Show & Balloon Festival 2015</span></h3>
</br>
<div style="margin-left: 40px;">
    <p>
        Battle Creek, MI
    </p>
    <p>
        3140 5th Avenue, Battle Creek, MI 49037
    </p>
    <p>
        July 2 – 6, 2014
    </p>
    </br>
    <p>
        2015 event info: July 2 – 5, 2015, 35th Anniversary
    </p>
    </br>

    </br>
    <div style="margin-left: 60px;">
        Click <a href="http://www.bcballoons.com">here</a> to go to http://www.bcballoons.com
    </div>
    <div style="margin-left: 60px;">
        Click <a href="https://www.facebook.com/bcballoons">here</a> to go to https://www.facebook.com/bcballoons
    </div>
</div>

    </br>
    

<h3><span style='font-weight: bold;'>Jackson Hot Air Jubilee</span></h3>
</br>
<div style="margin-left: 40px;">
    <p>
        Jackson, MI
    </p>
    <p>
        Ella Sharp Park, 2800 4th St, Jackson, MI 49203
    </p>
    <p>
        July 18 – 20, 2014
    </p>
    </br>
    <p>
        2015 event info: To Be Determined
    </p>
    </br>
    
    </br>
    <div style="margin-left: 60px;">
        Click <a href="http://www.hotairjubilee.com/">here</a> to go to http://www.hotairjubilee.com/
    </div>
    <div style="margin-left: 60px;">
        Click <a href="https://www.facebook.com/hotairjubilee">here</a> to go to https://www.facebook.com/hotairjubilee
    </div>
</div>

    </br>
    </br>

<h3><span style='font-weight: bold;'>Metamora Country Days & Hot Air Balloon Festival</span></h3>
</br>
<div style="margin-left: 40px;">
    <p>
        Metamora, MI
    </p>
    <p>
        Balloon launch field is a few hundred yards south of the Metamora Lions Hall
    </p>
    <p>
        Aug 22-23, 2014
    </p>
    </br>
    <p>
        2015 event info: To Be Determined
    </p>
    </br>
    
    </br>
    <div style="margin-left: 60px;">
        Click <a href="http://www.metamorachamber.org/metamoracountrydays">here</a> to go to http://www.metamorachamber.org/metamoracountrydays
    </div>
    <div style="margin-left: 60px;">
        Click <a href="https://www.facebook.com/MetamoraCountryDays">here</a> to go to https://www.facebook.com/MetamoraCountryDays
    </div>
</div>

    </br>
    </br>

<h3><span style='font-weight: bold;'>1st annual Grand Rapids Balloon Festival</span></h3>
</br>
<div style="margin-left: 40px;">
    <p>
        Wyoming, MI
    </p>
    <p>
        Gordon Food Service Home Office - 1300 Gezon Parkway SW, Wyoming, MI 49509
    </p>
    <p>
        September 5-6, 2014
    </p>
    </br>
    <p>
        2015 event info: To Be Determined
    </p>
    </br>
    
    </br>
    <div style="margin-left: 60px;">
        Click <a href="http://www.grandrapidsballoonfestival.com/">here</a> to go to http://www.grandrapidsballoonfestival.com/
    </div>
    <div style="margin-left: 60px;">
        Click <a href="https://www.facebook.com/remaxofgrandrapidsballoonfestival">here</a> to go to https://www.facebook.com/remaxofgrandrapidsballoonfestival
    </div>
</div>


    </br>
    </br>

<h3><span style='font-weight: bold;'>Midland Balloon Festival</span></h3>
</br>
<div style="margin-left: 40px;">
    <p>
        Midland, MI
    </p>
    <p>
        Midland County Fairgrounds - Midland
    </p>
    <p>
        September 11 - 14, 2014
    </p>
    </br>
    <p>
        2015 event info: To Be Determined
    </p>
    
    </br>
    <div style="margin-left: 60px;">
        Click <a href="http://www.midlandballoonfest.com/">here</a> to go to http://www.midlandballoonfest.com/
    </div>
    <div style="margin-left: 60px;">
        Click <a href="https://www.facebook.com/MidlandBalloonFest">here</a> to go to https://www.facebook.com/MidlandBalloonFest
    </div>
</div>

    </br>
    </br>

<h3><span style='font-weight: bold;'>High On Kalamazoo Balloon Fest</span></h3>
</br>
<div style="margin-left: 40px;">
    <p>
        Kalamazoo, MI
    </p>
    <p>
        AIR ZOO in Kalamazoo/Portage, Michigan
    </p>
    <p>
        September 26 – 28, 2014
    </p>
    </br>
    <p>
        2015 event info: To Be Determined
    </p>
    </br>
    
    </br>
    <div style="margin-left: 60px;">
        Click <a href="https://www.facebook.com/HighOnKalamazooBalloonFest">here</a> to go to https://www.facebook.com/HighOnKalamazooBalloonFest
    </div>
    <div style="margin-left: 60px;">
        Click <a href="http://www.airzoo.org/">here</a> to go to http://www.airzoo.org/
    </div>
</div>




</div>

