@{
    ViewBag.Title = "History";
}

<h2>History</h2>

</br>
</br>
<h1> History of Hot Air Ballooning!</h1>
</br>
</br>
@*<p>Content Pending.</p>*@

<p>
    <font size="4">
        Hot air ballooning roots began in Paris, France on November 21, 1783 when the Montgolfier brothers’ paper and silk balloon carried the first two humans, Francois Pilatre de Rozier and Francois Laurent, Marquis of d’ Arlanders, in free flight.  As fire was hand-fed through openings on either side of the balloon’s skirt, the two men stood on a circular platform attached to the bottom of the balloon.  The flight lasted approximately 25 minutes with the balloon traveling about 5 ½ miles and reaching an altitude of at least 500 feet.
    </font>
</p>
</br>
<p>
    <font size="4">
        The first gas balloon was launched on December 1, 1783 in Paris, France by physicist Jacques Alexander Charles and Nicholas Louis Robert. Utilizing hydrogen gas, which is a lighter than air gas, the flight lasted 2 ½ hours and covered 25 miles.
    </font>
</p>
</br>

<p>
    <font size="4">
        Unlike hot air balloons, gas balloons did not depend upon fire to get them aloft and stay up.  As a result, they were able to stay up longer and their altitude could be controlled somewhat easier with the use of ballast.  Until the invention of powered and controlled airplane by the Wright brothers in America in 1903, gas balloons continued to be the primary mode of air travel.  Not everyone could afford a gas balloon flight due to the expense and time consumption.
    </font>
</p>
    </br>
<p>
    <font size="4">
        In the early days of ballooning, crossing the English Channel was considered the first step to long distance flying.  The first successful crossing of the English Channel was accomplished later the same year by French balloonist Jean-Pierre Blanchard and American John Jeffries using a gas balloon.  The first manned flight of a balloon in the United States occurred January 9, 1793.  Coincidently, it was a hydrogen gas balloon piloted by Jean-Pierre Blanchard, the same Frenchman who was the first to cross the English Channel. Ascending from a prison yard in Philadelphia, Pennsylvania, the balloon ascended to about 5,800 feet.  A successful landing occurred in Gloucester County in New Jersey.
    </font>
</p>
    </br>
<p>
    <font size="4">
        Early in the 1900’s, the production of airships, commonly referred to as blimps, began.  These cigar shaped balloons, often with a rigid frame to maintain its shape, were inflated with hydrogen gas to keep them aloft and possessed engines with propellers, as well as flaps, to control the direction and speed of flight.
    </font>
</p>
    </br>
<p>
    <font size="4">
        At 420 feet long, the first large airship built was the Graf Zeppelin.  It was capable of travelling 600 miles in 2 days. One of the first such ships in the U.S. was built in 1904. These large ships became the first commercial airliners. Many were made for military uses, while others had luxurious cabins for seating passengers. By 1936, such airships had become more common.  The Hindenburg, built in Germany in 1936, was the most famous airship.  It was 803 feet long and 135 feet wide and contained 7 million cubic feet of gas.
    </font>
</p>
    </br>
<p>
    <font size="4">
        The Hindenburg caught fire and burned in less than one minute while attempting to dock in Lakehurst, New Jersey on May 6, 1937. Of the 97 persons on board, 35 were killed.   Until the spectacular demise of this famous airship, such ships had exemplary safety records.  Consequently, the use of such airships began to decline.  Further, other hydrogen filled airships disasters caused them to gradually be phased out. After the Hindenburg disaster, helium-filled military ships were about the only airships to fly. Hydrogen was considered too dangerous. The new helium gas was very expensive and was not widely available outside the United States.
    </font>
</p>
    </br>
<p>
    <font size="4">
        On October 25, 1960, Paul Ed Yost piloted the maiden flight of modern-day hot air ballooning in a balloon of 40 feet in diameter with a volume of 30,000 cubic feet.   He flew 3 miles in 25 minutes employing a new self-made envelope and a new propane burner system. Thanks to this triumph, Yost is known as the father of modern hot air ballooning.
    </font>
</p>
    </br>
<p>
    <font size="4">
        By 1963, sport ballooning had grown enough so that the first U. S. National Hot Air Balloon Championship event was held in Kalamazoo, Michigan.  In 1964, the Nationals were held in Nevada and where remained there for 3 years.  While no Nations were held in 1967-1969, in 1970 the preliminaries for the Nationals were held in Indianola, Iowa with the final event at the State Fair Grounds in Des Moines, Iowa.   In 1971, the National Championship event moved to Indianola, Iowa where it remained for 18 years. Since that time, the Nationals have moved around to various parts of the country.
    </font>
</p>
    </br>
<p>
    <font size="4">
        Many local ballooning clubs now hold events all over the United States. As the technology of burners and balloon envelope construction improved, ballooning continues to grow in popularity. Most sport ballooning today is done with hot air balloons. Gas ballooning has its followers, as well, but inflating a gas balloon takes much longer and the price of helium continues to make gas ballooning more expensive than hot air ballooning.
    </font>
</p>
    </br>
<p>
    <font size="4">
        Balloons using a combination of helium and hot air are now used for many long distance flights, such as the around the world flight of Steve Fossett in his balloon, “Bud Light Spirit of Freedom” on June 19, 2002. This balloon was a hybrid hot air and gas balloon with two separate Helium gas cells and one hot air cell. Inflated, the balloon stood 180 feet tall with a diameter of 108 feet. Fossett launched from Northam, Western Australia in a seventh and successful attempt to be the first person to circumnavigate the globe solo in a balloon. Fourteen days, 19 hours and 51 minutes later he landed in the eastern Australian outback.
    </font>
</p>
    </br>
<p>
    <font size="4">
        Gas balloons, such as NASA’s Ultra-Long Duration Balloon shown above right, provide greatly enhanced scientific research. Such balloons are used like satellites to study deep space and the Earth, but at a fraction of the cost of a satellite. NASA balloons are made of a thin polyethylene material about the same thickness as an ordinary sandwich wrap. In size they range up to 40 million cubic feet in volume and 600 feet in diameter to as tall as a 60-story building. When the experiment is complete, a radio command is sent from a ground station to separate the scientific payload from the balloon and a parachute opens and it floats back to the ground. The balloon envelope collapses and falls to the Earth.
    </font>
</p>
    </br>
<p>History is courtesy of The National Balloon Museum. </p>
