@{
    ViewBag.Title = "LaunchCriteria";
}

</br>
</br>
</br>
</br>
</br>

<h1>Weather Launch Criteria</h1>
</br>
<h2>"Weather" To Fly or Not?</h2>

</br>
</br>


<p>Weather conditions must be ideal for a hot air balloon launch.  A launch will be cancelled if there is any sign of a potentially non-safe flight.</p>
</br>
<p>Balloon pilots will consider several weather factors when determining if a safe flight is possible.  These weather factors include:</p>
</br>
<div style="margin-left: 50px;">
    <p>
        *Winds
    </p>


    <p>
        *Winds Aloft
    </p>
    <p>
        *Visibility
    </p>
    <p>
        *Rain/Storms
    </p>
    <p>
        *Fronts
    </p>
    <p>
        *Temperature
    </p>
</div>

</br>

<h3><span style='font-weight: bold;'>Winds</span></h3>
</br>

<div style="margin-left: 40px;">
    <p>
        Worrisome Forecast words that will ground a flight: gusty, breezy, windy, blustery, small craft warnings, high wind warnings.
    </p>
    </br>
    <p>
        Wind is the most critical factor in safe ballooning; it effects every phase of a flight. More balloon flights are cancelled due
    </p>
    <p>
        to wind than for any other reason. Balloons fly best in light and stable winds of 4-6 miles per hour. Maximum safe winds are 8-10 mph.
    </p>

</div>
</br>

<h3><span style='font-weight: bold;'>Winds Aloft</span></h3>
</br>

<div style="margin-left: 40px;">
    <p>
        Winds at higher altitudes, also known as winds aloft, can also cause a flight to be cancelled. There may be almost no wind at the ground, but at altitude,
        the wind may be blowing at 20 miles per hour.  There may not even be a hint of a breeze on the ground, but at altitude, the wind may be blowing at 1 to
        9,000 feet.  Altitude winds are indicators that the balloon may encounter wind shear, burbulence, or strong surface winds later on.  Winds aloft of 18-20
        knots or 20 miles per hour can be sufficient to reschedule a flight.
    </p>
</div>
 </br>



<h3><span style='font-weight: bold;'>Visability</span></h3>
</br>
<div style="margin-left: 40px;">
    <p>
        Worrisome Forecast words include: foggy, hazy, misty.
    </p>
    </br>
    <p>
        Balloon Pilots operate under Federal Aviation Administration (FAA) as Visual Flight Rules (VFR) certified.  Therefore, there must be a certain amount of
        visibility to legally fly. Depending on flight location, the visibility must be AT LEAST 1 to 3 miles. For the most part, there will be NO flying in fog,
        nor will there be night flying.
    </p>
</div>
</br>




<h3><span style='font-weight: bold;'>Rain/Storms</span></h3>
</br>
<div style="margin-left: 40px;">
    <p>
        Worrisome Forecast words include: thunderstorms, rain, chance of showers or storms.
    </p>
    </br>

    <p>
        Balloons do not launch in the rain. Rain can damage the balloon and decrease visibility. Storms can be significant events to any type of aircraft,
        but a balloon is, perhaps, the most weather sensitive aircraft.  Whereas an airplane can turn and run from a storm, a balloon is drawn into a storm.
        The winds will accelerate and head toward a building storm and flow out of a decaying storm. Such gust fronts can occur 75 to 100 miles away from
        the actual storm, creating winds that are dangerous to a balloon. If storms are forecasted or there are storms within 100 miles, flights will be
        rescheduled.
    </p>
</div>
</br>


<h3><span style='font-weight: bold;'>Fronts</span></h3>
</br>
<div style="margin-left: 40px;">
    <p>
        There must be no fronts in the area for a balloon launch to occur. Fronts usually come with a change in wind direction or increased wind speeds.
        If pilots can plan ahead for this, then it may be possible for a launch. If a front will move through during time of flight, a launch must be cancelled.
    </p>
</div>
</br>


<h3><span style='font-weight: bold;'>Temperature</span></h3>
</br>
<div style="margin-left: 40px;">

    <p>

        Hot air balloons fly by changing the temperature inside the balloon with heat.  As a result, the outside air temperature is going to affect
        balloon flights. When the air in a balloon is heated, it becomes hotter and, therefore, is less dense than the surrounding outside air. This hotter
        air is "lighter".  A balloon will float upward. The more heat, the higher up the balloon will go.
    </p>
    </br>

    <p>
        Generally, a balloon will fly when its temperature is around 140 degrees above the outside air temperature. Therefore, the colder it is outside, the less
        heat it takes to fly.  Conversely, the hotter it is outside, the more heat it will take to fly. For example:
    </p>
    </br>

    <div style="margin-left: 60px;">
        <p>
            Outside Air Temperature    +   Heat it Takes to Fly (140 F)  =   Temperature Inside the Balloon
        </p>
        </br>
        <p>
            Cold day of 35 degrees F   +      140 F                      =      175 degrees inside the balloon </br>
            Hot  day of 98 degrees F   +      140 F                      =      238 degrees inside the balloon 
        </p>
    </div>
        </br>
        <p>
            This is of particular concern to companies operating smaller balloons. The smaller the balloon, the less lift capacity it will have and the hotter it must
            be inside the balloon for it to fly. The maximum continuous operating temperature for most hot air balloons is 250 degrees Fahrenheit, which leaves little
            margin for safety and for maneuvering on a very hot day. When operating larger balloons, flights will only be cancelled due temperature if the pilot thinks
            it will be uncomfortable for passengers. 

        </p>
    </div>
</br>