@{
    ViewBag.Title = "Rides";
}

</br>
</br>
</br>
</br>
<h1>Michigan Hot Air Balloon Ride Vendors</h1>
<p>Alphabetical Listing</p>
</br>
</br>


<h3><span style='font-weight: bold;'>Altitude Endeavors</span></h3>
</br>
    <div style="margin-left: 40px;">
        <p>
            1255 Hunter Rdg, Battle Creek, MI  49017
        </p>
        </br>
        <div style="margin-left: 60px;">
            Click <a href="http://www.altitudeendeavors.com/hot-air-balloon-rides.html">here</a> to go to http://www.altitudeendeavors.com/hot-air-balloon-rides.html.
        </div>

    </div>


</br>
</br>


<h3><span style='font-weight: bold;'>Balloon Quest, Inc: Captain Phogg Balloon Rides</span></h3>
</br>
    <div style="margin-left: 40px;">
        <p>
            2470 Grange Hall Rd, Fenton, MI 48430
        </p>
        </br>
        <div style="margin-left: 60px;">
            Click <a href="http  />/www.balloonride.com/07hotair.htm">here</a> to go to http://www.balloonride.com/07hotair.htm.

        </div>
    </div>


    </br>
    </br>

 
<h3><span style='font-weight: bold;'>Battle Creek Balloon Rides</span></h3>
</br>
    <div style="margin-left: 40px;">
        <p>
            No Address Available
        </p>
        </br>
        <div style="margin-left: 60px;">
            Click <a href="http://www.bcballoonrides.com/">here</a> to go to http://www.bcballoonrides.com/.
        </div>
    </div>

    </br>
    </br>


<h3><span style='font-weight: bold;'>Fly Balloons</span></h3>
</br>
    <div style="margin-left: 40px;">
        <p>1111 James K. Blvd, Pontiac, MI  48341</p>
        <p>Proprietor: Ted Gauthier</p>
        </br>
        <div style="margin-left: 60px;">
            Click <a href="http://www.flyballoons.net/">here</a> to go to http://www.flyballoons.net/.
        </div>
    </div>

</br>
</br>


 <h3><span style='font-weight: bold;'>Grand Traverse Balloons</span></h3>
 </br>
    <div style="margin-left: 40px;">
        <p>P.O. Box 6243, Traverse City, MI 49696</p>
        <p>Proprietor: Jeff Geiger</p>
        </br>
        <div style="margin-left: 60px;">
            Click <a href="http://www.grandtraverseballoons.com/">here</a> to go to http://www.grandtraverseballoons.com/.
        </div>
    </div>

</br>
</br>
      
        

 <h3><span style='font-weight: bold;'>Grass Lake Balloon Rides</span></h3>
 </br>
    <div style="margin-left: 40px;">
        <p>
            No Address Available
        </p>
        </br>
        <div style="margin-left: 60px;">
            Click <a href="http://www.balloonridesovermichigan.com/hot-air-balloon-rides/MI/Jackson/49240/Grass-Lake-hot-air-balloon-rides.html">here</a> to go to http://www.balloonridesovermichigan.com/hot-air-balloon-rides/MI/Jackson/49240/Grass-Lake-hot-air-balloon-rides.html.
        </div>
    </div>

 </br>
 </br>

  

<h3><span style='font-weight: bold;'>Michigan Balloon Corporation</span></h3>
</br>
    <div style="margin-left: 40px;">
        <p>8038 Lake Wood Drive, Portage, MI  49002-5565</p>
        <p>Proprietor: Ronald L. Centers</p>
        </br>
        <div style="margin-left: 60px;">
            Click <a href="http://www.miballooncorp.com/">here</a> to go to http://www.miballooncorp.com/.
        </div>
    </div>

</br>
</br>

      


<h3><span style='font-weight: bold;'>Rainbows Aloft Balloon Company</span></h3>
</br>
    <div style="margin-left: 40px;">

        <p>52092 Nancy Lane, Three Rivers, MI 49093</p>
        </br>
        <div style="margin-left: 60px;">
            Click <a href="http://www.michigan.org/property/rainbows-aloft-balloon-co/">here</a> to go to http://www.michigan.org/property/rainbows-aloft-balloon-co/.
        </div>
    </div>

</br>
</br>

  



<h3><span style='font-weight: bold;'>Renaissance Balloons</span></h3>
</br>
    <div style="margin-left: 40px;">

        <p>52092 Nancy Lane, Three Rivers, MI 49093</p>
        </br>
        <div style="margin-left: 60px;">
            Click <a href="http://www.renaissanceballoons.com/">here</a> to go to http://www.renaissanceballoons.com/.
        </div>
    </div>

</br>
</br>

      
        


<h3><span style='font-weight: bold;'> Sky Adventures</span></h3>
</br>
    <div style="margin-left: 40px;">

        <p>4191 Locust Valley Ln. Oxford, MI 48370</p>
        <p>Proprietors: Dennis and Linda Kollin</p>
        </br>
        <div style="margin-left: 60px;">
            Click <a href="http://www.skyadventures.com/">here</a> to go to http://www.skyadventures.com/.
        </div>
    </div>

</br>
</br>



<h3><span style='font-weight: bold;'>Sky American, Inc.</span></h3>
</br>
    <div style="margin-left: 40px;">

        <p>8425 Timber Crossing, Alto, MI 49302</p>
        <p>Proprietor: Robert “Woody” Watson</p>
        </br>
        <div style="margin-left: 60px;">
            Click <a href="http://skyamericaninc.com/">here</a> to go to http://skyamericaninc.com/.
        </div>
    </div>

</br>
</br>

        

<h3><span style='font-weight: bold;'>Sky High Hot Air Balloons</span></h3>
</br>
<div style="margin-left: 40px;">

    <p>9251 Garbow Road, Middleville MI. 49333</p>
    <p>Proprietors: Doug and Karen Mills</p>
    </br>
    <div style="margin-left: 60px;">
        Click <a href="http://www.skyhighballoon.com/booking.htm">here</a> to go to http://www.skyhighballoon.com/booking.htm.
    </div>
</div>

</br>
</br>



<h3><span style='font-weight: bold;'> Walloon Balloon Adventures</span></h3>
</br>
    <div style="margin-left: 40px;">
        <p>
            No Address Available
        </p>
        </br>
        <div style="margin-left: 60px;">
            Click <a href="http://www.walloonballoon.com/">here</a> to go to http://www.walloonballoon.com/.
        </div>
    </div>

</br>
</br>



        

<h3><span style='font-weight: bold;'>Wicker Basket Balloon Center</span></h3>
</br>
    <div style="margin-left: 40px;">
        <p>
            50140 Pontiac Trail - Wixom, MI 48393
        </p>
        </br>
        <div style="margin-left: 60px;">
            Click <a href="http://www.wickerbasketballooncenter.com/">here</a> to go to http://www.wickerbasketballooncenter.com/.
        </div>
    </div>


        
        


